@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	background-color: #eee;
	/* color: white; */
}

h1 {
	color: blue;
	text-transform: capitalize;
}

h3 {
	color: orange;
}
